header { height: 800px;
  background-image: url(https://atap.google.com/ara/static/images/hero.jpg);
  background-size: cover;}

 h1 {padding: 200px 0px 0px 65px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 5em;
  color: white;
  font-weight: bolder;
  width: 35%;
  margin-bottom: 20px;
  }


 h2 {padding: 0px 0px 0px 65px;
 font-family: Arial, Helvetica, sans-serif; 
 font-size: 1.5em;
  color: white;
  font-weight: lighter}

ul {
  list-style-type: none;
  padding: 40px 40px 0px 20px;
  text-align: right;
}

li {
  display: inline-block;
  text-align: right;
  
  font-family: Arial, Helvetica, sans-serif; 
 font-size: .85em;

  font-weight: lighter;
  width: 15%;
  min-width: 50px;
  
  text-transform: uppercase;
}

a {color: white;
text-decoration: none;}