header { height: 800px;
  background-image: url(https://atap.google.com/ara/static/images/hero.jpg);
  background-size: cover;}

 h1 {padding: 120px 0px 0px 65px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 5em;
  color: white;
  font-weight: bolder;
  width: 35%;
  margin-bottom: 20px;
  }


 h2 {padding: 0px 0px 0px 65px;
 font-family: Arial, Helvetica, sans-serif; 
 font-size: 1.5em;
  color: white;
  font-weight: lighter}

ul {
  list-style-type: none;
  padding: 40px 40px 0px 20px;
  text-align: right;
}

li {
  display: inline-block;
  text-align: right;
  
  font-family: Arial, Helvetica, sans-serif; 
 font-size: .85em;

  font-weight: lighter;
  width: 15%;
  min-width: 50px;
  
  text-transform: uppercase;
}

header a {color: white;
text-decoration: none;}

.button {display: inline-block;
  text-align: center;
  margin: 100px 0px 0px 65px;
  
  font-family: Arial, Helvetica, sans-serif; 
 font-size: 1em;

  font-weight: normal;
  width: 10%;
  min-width: 50px;
  border: 2px solid white;
  padding: 20px 20px;
  
  text-transform: uppercase;}

  .inputbars {display: inline-block;
  text-align: right;
  
  font-family: Arial, Helvetica, sans-serif; 
 font-size: .85em;

  font-weight: lighter;
  width: 15%;
  min-width: 50px;
  color: black;
  text-transform: uppercase;}

section {background-color: #ffc853;
padding: 20px 20px;
}
section a {color: black;
text-decoration: none;}

.inputbars {margin: 0px 20px;}
.twitterbar {display: inline-block;
  text-align: right;
  
  font-family: Arial, Helvetica, sans-serif; 
 font-size: .85em;

  font-weight: lighter;
  width: 15%;
  min-width: 50px;
  color: black;
  text-transform: uppercase;
  margin: 0px 0px 0px 550px;}